@model dot_not.Models.ChallengeViewModel

@if (Model.Success)
{
    @Html.Value(Model.SuccessMessage);
}
else if (!Model.Success)
{
    @Html.Value(Model.FailMessage);
}
@using (Html.BeginForm("Submit", "Challenges"))
{
    @Html.HiddenFor(model => model.Challenge.ID)

<fieldset>
    <div>
        @Html.LabelFor(model => Model.Challenge.Flag)
    </div>
    <div>
        @Html.TextBoxFor(model => Model.Challenge.Flag, new { Value = "" })
    </div>
    <input type="submit" value="Submit Flag"/>
</fieldset>
}
